* {
  box-sizing: border-box;
}

.body {
  margin: 0;
}

.nav {
  background-color: #1abc9c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.homepageimage {
  max-width: 10%;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 120%;
}

.nav li.active {
  background-color: #16967c;
}

.nav li:hover {
  background-color: #078169;
}

.navbarbutton button {
  padding: 15px 22px;
  color: white;
  border: none;
  background: none;
  font-size: 120%;
}
